body {
    background-color: #FFFFFF;
    color: #000305;
    font-size: 87.5%; /* Base font size is 14 px */
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    text-align: left;
}

.show {
    display: inline-block;
    width: 100%;
}

/* links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #FFFFFF;
}

a:hover, a:active {
    color: #18bc9c;
}

.body {
    margin: 0 auto;
    width: 100%;
    clear: both;
}
.mainHeader {
    background-color: #153540;
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    float: left;
}

.logo {
    font-size: 19px
}

.mainHeader nav {
    background-color: #153540;
    height: auto;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    
}

.mainHeader nav ul li {
    float: left;
    width: 100%;
    text-align: left;
}

.mainHeader nav ul li a {
    display: inline-block;
    font-size: 17px;
}

.mainHeader nav ul li:first-child {
    border-top: 1px solid darkgrey;
}


.topHeader {
    background-color: #18bc9c;
    color: #FFFFFF;
    text-align: center;
    float: left;
    width: 100%;
}
.topHeader img {
    height: 200px;
    width: 210px;
    border-radius: 50%;
    margin: 10px auto;
}

.top-header-title {
    text-transform: uppercase;
    font-size: 2em; /* COME BACK TO THIS */
}

.top-header-subTitle {
    
}

.portfolio {
    color: #153540;
}

.portfolio-header-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin: 30px 0 0 0;
}


.portfolio-img img {
    width: 90%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.about {
    background-color: #18bc9c;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.about-header-title {
    text-transform: uppercase;
    font-size: 3em;
    margin: 50px 0 0 0;
    padding-top: 50px;
    text-align: center;
}

.about-body {
    font-size: 1.3em;
    width: 90%;
    margin: 0 auto;
}

.btn {
    text-align: center;
    margin: 25px auto;
}
a.btn-green-white-border {
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 5%;
    padding: 15px 20px;
    font-size: 1.3em;
    color: #153540;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}
a.btn-green-white-border:hover {
    background-color: #FFFFFF;
}

ul {
    display: none;
}


#btn-menu-dropdown {
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    width: auto;
    height: auto;
    font-size: 19px;
/*
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 2px 4px;
*/
}



